@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e4w.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#menu {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 15px 20px;
  width: 100%;
  background-color: #0070ff;
  overflow: hidden;
}
#menu .tophat {
  display: inline-block;
  opacity: 1;
  pointer-events: all;
  vertical-align: top;
  transition: 0.2s all;
}
#menu .tophat img {
  margin-right: 20px;
  border-radius: 3px;
  padding: 6px;
  width: 32.5px;
  height: 32.5px;
  background-color: white;
}
#menu > .titles {
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  pointer-events: all;
  transition: 0.2s all;
}
#menu .title {
  display: block;
  color: white;
  font-size: 18pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
}
#menu .subtitle {
  display: none;
  color: white;
  font-size: 8pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
}
#menu .items {
  position: absolute;
  top: 15px;
  right: 20px;
  opacity: 1;
  pointer-events: all;
  transition: 0.2s all;
}
#menu .items > * {
  color: white;
  font-size: 18pt;
  font-family: "Playfair Display";
  margin-left: 25px;
}
#menu .opener {
  position: absolute;
  top: 15px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  color: white;
  font-size: 18pt;
  font-family: "Playfair Display";
  margin-left: 25px;
  transition: 0.2s all;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  #menu .items {
    top: 30px;
    left: 30px;
    opacity: 0;
    pointer-events: none;
  }
  #menu .items > * {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 30pt;
  }
  #menu .opener {
    opacity: 1;
    pointer-events: all;
  }
}
#menu.shown {
  height: 100%;
}
#menu.shown .items {
  opacity: 1;
  pointer-events: all;
}
#menu.shown .tophat,
#menu.shown .titles {
  opacity: 0;
  pointer-events: none;
}
#menu.shown .opener {
  padding-left: 100px;
  padding-bottom: 100px;
}
main {
  margin-top: 76.17px;
}
footer {
  background-color: #0070ff;
}
footer > .body {
  padding: 50px;
}
footer > .body .tophat {
  display: inline-block;
  vertical-align: super;
}
footer > .body .tophat > img {
  margin-right: 20px;
  border-radius: 3px;
  padding: 6px;
  width: 32.5px;
  height: 32.5px;
  background-color: white;
}
footer > .body .title {
  display: inline-block;
  color: white;
  font-size: 30pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
  vertical-align: bottom;
}
footer > .body .subtitle {
  display: block;
  color: white;
  font-size: 16pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
}
footer > .body address {
  display: block;
  color: white;
  font-size: 16pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
}
footer > .body a {
  display: block;
  color: white;
  font-size: 16pt;
  font-family: "Playfair Display";
  font-weight: 400;
  overflow-wrap: normal;
}
@media only screen and (max-width: 950px) {
  footer .half_split {
    display: inline-block;
  }
  footer .half_split .right {
    margin-top: 20px;
  }
}
.half_split {
  display: grid;
}
.half_split > .left {
  grid-column: 1;
}
.half_split > .right {
  grid-column: 2;
}
.titled_section {
  padding: 50px;
  background-color: white;
}
.titled_section > .title {
  display: inline-block;
  margin-bottom: 50px;
  width: 500px;
  max-width: 100%;
  color: black;
  font-size: 50pt;
  font-family: "Playfair Display";
  font-weight: 700;
  overflow-wrap: normal;
}
.titled_section > .text {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 18pt;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
}
.titled_section > .text > *:last-child {
  margin-bottom: 0;
}
.posts {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 1fr;
}
.posts::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1;
  grid-column: 1;
}
.posts > *:first-child {
  grid-row: 1;
  grid-column: 1;
}
.posts > * {
  background-color: #0070ff;
  transition: 0.2s all;
}
.posts > * > .body {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.2s all;
}
.posts > * > .body > .titles {
  padding: 20px;
  padding-bottom: 0px;
}
.posts > * > .body > .titles > .title {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-size: 18pt;
  font-family: "Playfair Display";
  font-weight: 700;
}
.posts > * > .body > .titles > .date,
.posts > * > .body > .titles > .subtitle {
  display: block;
  color: white;
  font-size: 12pt;
  font-family: "Playfair Display";
  font-weight: 700;
}
.posts > * > .body > .body {
  padding: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
}
.posts > * > .body > .actions {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.posts > * > .body > .actions > * {
  color: white;
  font-size: 18pt;
  font-family: "Playfair Display";
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.posts > *.medium {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.posts > *.medium > .body > .titles > .title {
  margin-left: 15px;
  font-size: 50pt;
}
.posts > *.large {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.posts > *.large > .body > .titles > .title {
  margin-left: 15px;
  font-size: 50pt;
}
.posts > *.large_text > .body > .titles > .title {
  font-size: 30pt;
}
.posts > *.interactive:hover {
  cursor: pointer;
}
.posts > *.interactive:hover > .body {
  transform: scale(0.95);
}
@media only screen and (max-width: 950px) {
  .posts .large,
  .posts .medium {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .posts .large > .body > .titles > .title,
  .posts .medium > .body > .titles > .title {
    font-size: 25pt;
  }
}
#post,
#error {
  padding: 50px;
}
#post > .pretitle,
#error > .pretitle {
  display: block;
  font-size: 20pt;
  font-family: "Playfair Display";
  font-weight: 700;
}
#post > .title,
#error > .title {
  display: block;
  font-size: 50pt;
  font-family: "Playfair Display";
  font-weight: 700;
}
#post > .subtitle,
#error > .subtitle {
  display: block;
  font-size: 30pt;
  font-family: "Playfair Display";
  font-weight: 700;
}
#post > .body,
#error > .body {
  display: block;
  margin-top: 30px;
  font-size: 18pt;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
}
@media only screen and (max-width: 950px) {
  #post .title,
  #error .title {
    font-size: 35pt;
  }
}
