@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

@red: #ff6d6d;
@blue: rgb(0, 179, 179);
@black: #1B1B1B;
@white: white;

@gray: darken(mix(@black, @white), 20%);
@light_gray: lighten(mix(@black, @white), 10%);

@mobile_width: 950px;

@informal_font: "Roboto";

@border_radius: 3px;

@section_padding: 18px 32px;

.transition() {

	transition: 0.2s all;

}

@import "components.less";
@import "layout.less";
