* {

	box-sizing: border-box;

}

html, body {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

}

#app {

	height: 100%;

}

#menu {

	position: fixed;

	top: 0;

	box-shadow: 0 0 2.5px @light_gray;

	padding: 8px 32px;

	width: 100%;

	background-color: @white;

	.brand_header {

		display: inline-block;

		// border-radius: @border_radius;
		// border-bottom: 3px solid @black;

		color: @black;
		font-size: 20pt;

		& * {

			vertical-align: middle;

			.transition();

		}

		& img {

			margin-right: 25px;

			width: 50px;

		}

		.brand_slogan {

			font-size: 10pt;

		}

	}

	#menu_items {

		position: absolute;

		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		display: inline-block;

		padding: inherit;

		font-size: 20pt;

		&>* {

			color: @black;

			margin-left: 15px;
			
			text-decoration: none;

			&:before {

				content: "/";

				opacity: 0.2;

				font-weight: 700;

				.transition();

			}

			&:hover:before {

				opacity: 1;

			}

		}

		@media only screen and (max-width: @mobile_width) {

			display: none;
			position: relative;

			transform: none;

			padding: 0;

			&>* {

				margin-left: 0px;
				margin-right: 15px;

			}

		}

		.transition();

	}
	
	&.transparent:not(:hover) {

		box-shadow: none;
		background-color: transparent;

		&>.brand_header {
			
			img {

				padding: 10px;

				background-color: @white;

				pointer-events: all;

			}

			div {

				opacity: 0;

			}

			pointer-events: none;

		}

		#menu_items {

			opacity: 0;

		}

	}

	z-index: 2;
	.transition();

}

.main {

	margin-top: 121px;

}

.section {

	padding: @section_padding;

}

#about_intro {

	min-height: 100vh;

	padding: @section_padding;

	color: @black;

	background-color: @white;

	#quote_and_explanation {

		padding: @section_padding;

		&>*>p:first-child {

			margin: 0;

		}

		&>*>p {
			
			line-height: 1.5;

		}

	}

	.brand_slogan {

		display: block;

		margin: 0;

		font-size: 50pt;
		font-family: @informal_font;

	}

	.brand_message {

		display: block;

		margin-top: 50px;

		font-size: 25pt;
		font-family: @informal_font;

		&:last-child {

			margin-bottom: 50px;

		}

	}

	@media only screen and (max-width: @mobile_width) {

		.brand_slogan {

			margin: 0;
	
			font-size: 35pt !important;
	
		}

	}

}

.split {

	display: flex;

	&>* {

		display: inline-block;

		&:not(:last-child) {

			margin-right: 100px;

		}

	}

	&.half_split {

		&>* {

			width: 50%;

		}

	}

	@media only screen and (max-width: @mobile_width) {

		&:not(.always) {
		
			display: block;

		}

		&:not(.always)>* {

			display: block;

			width: auto !important;

		}

	}

}

.articles {

	display: flex;
	
	flex-wrap: wrap; 

	&>* {

		display: inline-block;

		margin: 1px;

		flex: 1 0 33%;

		color: @white;
		text-decoration: none;

		background-color: @light_gray;

		&>.body {

			display: inline-block;

			padding: @section_padding;

			// min-width: 350px;
			// max-width: 500px;

			&>.title, &>.subtitle {

			}

			.transition();

		}

		&:hover {

			opacity: 1 !important;
			background-color: darken(@gray, 10%);	

		}

		&:active {

			// margin: 10px;
			&>.body {

				transform: scale(0.95);

			}
			
		}

		&:before {
	
			content: "";

			display: block;

			float: left;

			padding-top: 100%;
		
		}

		.transition();

		cursor: pointer;

	}

	&:hover {

		&>* {

			opacity: 0.8;

		}

	}

}

#article_content {

	padding-left: 15%;
	padding-right: 15%;

}
