* {

	box-sizing: border-box;

}

html, body {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

}

#app {

	height: 100%;

}

#menu {

	position: fixed;

	top: 0;

	box-shadow: 0 0 2.5px @light_gray;

	padding: 8px 32px;

	width: 100%;

	background-color: @white;

	.brand_header {

		display: inline-block;

		// border-radius: @border_radius;
		// border-bottom: 3px solid @black;

		color: @black;
		font-size: 20pt;

		& * {

			vertical-align: middle;

			.transition();

		}

		& img {

			margin-right: 25px;

			width: 50px;

		}

		.brand_slogan {

			font-size: 10pt;

		}

	}

	#menu_items {

		position: absolute;

		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);

		display: inline-block;

		padding: inherit;

		font-size: 20pt;

		&>* {

			position: relative;

			margin-left: 15px;
			
			color: @black;
			font-weight: 600;
			text-decoration: none;

			&:hover {

				color: @gray;

			}

			.transition();

		}

		@media only screen and (max-width: @mobile_width) {

			display: none;
			position: relative;

			transform: none;

			padding: 0;

			&>* {

				margin-left: 0px;
				margin-right: 15px;

			}

		}

		.transition();

	}
	
	&.transparent:not(:hover) {

		box-shadow: none;
		background-color: transparent;

		&>.brand_header {
			
			img {

				border-radius: @border_radius;

				padding: 10px;

				background-color: @white;

				box-shadow: 0 0 2.5px @light_gray;
				pointer-events: all;

			}

			div {

				opacity: 0;

			}

			pointer-events: none;

		}

		#menu_items {

			opacity: 0;

		}

	}

	z-index: 2;
	.transition();

}

.main {

	margin-top: 95.5px;

}

.section {

	padding: @section_padding;

}

#about {

	padding: @section_padding;

	#about_people {

		&>div {

			&>div {

				display: flex;

				flex-wrap: wrap;

				&>div {

					border: @border_width solid @light_gray;
					border-radius: @border_radius;

					flex: 1 0 33%;

					margin-right: 20px;
					margin-bottom: 20px;

					padding: @section_padding;

					max-width: 45%;

				}

			}

		}

	}
	
}

.split {

	display: flex;

	&>* {

		display: inline-block;

		&:not(:last-child) {

			margin-right: 100px;

		}

	}

	&.half_split {

		&>* {

			width: 50%;

		}

	}

	@media only screen and (max-width: @mobile_width) {

		&:not(.always) {
		
			display: block;

		}

		&:not(.always)>* {

			display: block;

			width: auto !important;

		}

	}

}

.articles {

	display: flex;
	
	flex-wrap: wrap; 

	&>* {

		display: inline-block;

		margin: 1px;

		flex: 1 0 33%;
		max-height: 33vw;

		* {color: @white;}
		text-decoration: none;

		background-color: @blue;

		&>.body {

			display: inline-block;

			padding: @section_padding;

			// min-width: 350px;
			// max-width: 500px;

			&>.title, &>.subtitle {

			}

			.transition();

		}

		&:hover {

			opacity: 1 !important;
			background-color: darken(@blue, 10%);	

		}

		&:active {

			// margin: 10px;
			&>.body {

				transform: scale(0.95);

			}
			
		}

		&:before {
	
			content: "";

			display: block;

			float: left;

			padding-top: 100%;
		
		}

		.transition();

		cursor: pointer;

	}

	&:hover {

		&>* {

			opacity: 0.8;

		}

	}

}

#article_content {

	padding-left: 15%;
	padding-right: 15%;

}
