<%

	seo.title = "About Us";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

	<style>
/* 	
		#error {

			margin-bottom: 20px;

		} */

	</style>

</head>
<body>

	<% include include/menu.ejs %>

	<main>

		<div id="error">

			<span class="title">Ah s***, here we go again.</span>

			<div class="body">

				<p>We're afraid we don't have the number 404, large.</p>

				<p>Check out our latest articles or eat a taco or something, I don't know.</p>

				<ul>

					<li><a href="/">Latest Articles</a></li>

					<li><a href="https://locations.chipotle.com/md/bethesda/7600-old-georgetown-rd?utm_source=google&utm_medium=yext&utm_campaign=yext_listings">Tacos</a></li>

				</ul>

			</div>

		</div>

	</main>

	<% include include/footer.ejs %>

</body>
</html>
