<%

	seo.title = "About Us";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<div id="about" class="main">
		
		<h1>About</h1>

		<div id="about_people">

			<% for (const role of ["executive", "lead", "staff", "contributor"]) { %>

				<div>
	
					<h2><%- capitalize(role) + (role !== "staff" ? "s" : "") %></h2>
	
					<div>

						<% for (const profile of profiles.role(role)) { %>
	
							<div>
	
								<h3><%- profile.fields.title %> &bullet; <%- profile.fields.banner %></h3>
	
								<p><%- profile.fields.description %></p>

							</div>
	
						<% } %>

					</div>
	
				</div>
	
			<% } %>

		</div>
		
	</div>

	<% include include/footer.ejs %>

</body>
</html>
