<%

	seo.title = "About Us";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<div id="about_intro" class="main">
		
		<div id="quote_and_explanation" class="split half_split">
			
			<div>
				
				<span class="brand_slogan">&OpenCurlyDoubleQuote;Democracy bumps into things in darkness.&CloseCurlyDoubleQuote;</span>
				<span class="brand_message">&OpenCurlyDoubleQuote;The Snitch is the best news source ever!&CloseCurlyDoubleQuote; <br><span>&mdash; Internet User You Don't Know and Therefore Cannot Fact-check</span></span>
				<span class="brand_message">&OpenCurlyDoubleQuote;When will I get paid, Dale?&CloseCurlyDoubleQuote; <br><span>&mdash; Guy Who Made This Website</span></span>
				
			</div>
			
			<div>
				
				<p>
					
					At The Snitch, we believe that detailed information<sup>1</sup> should be available to everybody, and to empower and achieve our idea, we've created this website in order to allow regular people to access our high-quality articles. Our beliefs about access to information are simple: <br><br>
					
					<strong>We believe that information should be free for everyone</strong><br>
					We've seen other newspapers such as The Tattler and The Deceiver attempt to seal information that should be free and freely accessible by utilizing countless confusing subscription methods and an old prohibitive material commonly referred to as "paper"<sup>2</sup>.
					
					<br><br>
					
					<strong>We believe that information should be accurate</strong><br>
					Other newspapers such as The Backstabber and The Double-crosser have created "satirical" articles with fake information. I mean, come on? <strong>Fake information?</strong> Who's mean spirited enough to spread fake news? A Whitman Student was attacked with a pan? Yeah right, go tell me that's not a joke. Come on, tell me. Are you scared of me? Is that it?
					
					<br><br>
					
					<strong>We believe that you should give us a crap ton of money</strong><br>
					Self-explanatory.
					
				</p>
				
				<p class="small">
					
					<strong>1.</strong> Though our information may be detailed, it may not be entirely accurate or reflective of all of the facts at our disposal at the time of writing. <br>
					<strong>2.</strong> Please, don't use paper; it is known to cause Oldman Syndrome and Kidsthesedays Disease! smh. Kids those days, reading books instead of egregiously violating their own privacies by using social media. Oh crap, I've become the Oldman. HELP ME PLEASE. NOOOOOO.<br>
					
				</p>
				
			</div>
			
		</div>
		
	</div>

	<% include include/footer.ejs %>

</body>
</html>
