<%

	seo.title = "Politics";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>
	
	<% include include/menu.ejs %>

	<main>

		<div class="titled_section">

			<div class="title">Politics</div>

			<div class="posts">

				<div class="large">

					<div class="body">

						<div class="titles">

							<span class="title">

								Divide the US with our politics section.
		
							</span>

						</div>

					</div>

				</div>

				<% for (const article of sortByDate(posts.category("politics").slice(0, 10000))) { %>

					<div class="interactive">

						<div class="body">

							<div class="titles">

								<span class="title"><%- article.fields.title %></span>
								<span class="date"><%- article.fields.release_date %></span>

							</div>

							<div class="actions">

								<a href="/article/<%- article.fields.slug %>" class="read">Read</a>

							</div>

						</div>

					</div>

				<% } %>

			</div>

		</div>

	</main>

	<% include include/footer.ejs %>

</body>
</html>
