<footer>

	<div class="body">

		<div class="half_split">

			<div class="left">

				<span class="tophat">
			
					<img src="/img/svg/tophat_bw.svg">
					
				</span>

				<span class="title">The Snitch</span>
				<span class="subtitle">Democracy bumps into things in darkness.</span>
				<address>4301 E W Hwy, Bethesda, MD 20814 - Room F007</address>

			</div>

			<div class="right">

				<a href="/about">About</a>
				<a href="/contact">Contact</a>
				<a href="/privacy">Privacy Policy</a>
				
			</div>

		</div>

	</div>

</footer>

<script>document.getElementById("noprob").remove();</script>
