<div id="menu">
	
	<a href="/" class="tophat">
		
		<img src="/img/svg/tophat_bw.svg">
		
	</a>
	
	<a href="/" class="titles">

		<span class="title">The Snitch</span>
		<span class="subtitle">Democracy bumps into things in darkness.</span>

	</a>

	<div class="items">

		<a href="/">Latest</a>
		<a href="/about">About</a>
		<a href="/advice">Advice</a>
		<a href="/local">Local</a>
		<a href="/politics">Politics</a>
		<a href="/culture">Culture</a>
		<a href="/contact">Contact</a>

	</div>

	<div class="opener" onclick="this.parentElement.classList.toggle('shown')">&#9776;</div>
	
</div>
