<div id="menu">

	<!-- https://www.svgrepo.com/show/149135/elegant-top-hat.svg -->
	<h1 class="brand brand_header"><a href="/" class="split always">
		
		<img src="/img/svg/tophat_bw.svg">

		<div>

			<span>the snitch</span>
			<div class="brand_slogan"><i>Democracy bumps into things in darkness&trade;</i></div>

		</div>

	</a></h1>

	<div id="menu_items">

		<a href="/">home</a>
		<a href="/about">about</a>
		<a href="/advice">advice</a>
		<a href="/local">local</a>
		<a href="/politics">politics</a>
		<a href="/pop_culture">pop culture</a>

	</div>

</div>
