<div id="menu">

	<h1 class="brand brand_header"><a href="/">the snitch</a></h1>

	<div id="menu_items">

		<a href="/">home</a>
		<a href="/about">about</a>
		<a href="/advice">advice</a>
		<a href="/local">local</a>
		<a href="/politics">politics</a>
		<a href="/pop_culture">pop culture</a>

	</div>

</div>
